<div class="userdropdown" ng-init="addAccount(<%- userid %>)" ng-controller="AccountController">

<img style="position:absolute;z-index: 2;bottom: -4px;"  ng-show="AccountService.getField(<%- userid %>,'online') && AccountService.getField(<%- userid %>,'idle')" src="/images/orangecirclesml.png"></img>
<img style="position:absolute;z-index: 2;bottom: -4px;"  ng-show="AccountService.getField(<%- userid %>,'online') && AccountService.getField(<%- userid %>,'idle')"  src="/images/greencirclesml.png"></img>
<img style="position:absolute;z-index: 2;bottom: -4px;"  ng-show="!AccountService.getField(<%- userid %>,'online')" src="/images/greycirclesml.png"></img>
<img class="profilepic" src="{{AccountService.getField(<%- userid %>,'picture')}}"></img>

  <%- include('dropdown', {userid:userid}); %>
    	
</div>



