
<!--<div style="position: relative; left: 0; top: 0;">-->
<div class ="userdropdown">
<img style="position:absolute;z-index: 2;bottom: -4px;"  ng-show="Accounts[<%- userid %>].online && Accounts[<%- userid %>].idle" ng-init="GetAccount(<%- userid %>)" src="/images/orangecirclesml.png"></img>
<img style="position:absolute;z-index: 2;bottom: -4px;"  ng-show="Accounts[<%- userid %>].online && !Accounts[<%- userid %>].idle" ng-init="GetAccount(<%- userid %>)" src="/images/greencirclesml.png"></img>
<img style="position:absolute;z-index: 2;bottom: -4px;"  ng-show="!Accounts[<%- userid %>].online" ng-init="GetAccount(<%- userid %>)" src="/images/greycirclesml.png"></img>
<img class="profilepic" src="{{Accounts[<%- userid %>].picture}}"></img>
<div class="userdropdown-content">
    <a href="#">Cumulative Rating</a>
    <a href="#">View Game Archive</a>
    <a href="#">View Game	</a>
    <a href="#">Follow	</a>
    <a href="#">Challenge to a Game</a>	
    <a href="#">Invite to Chat	</a>
    <a href="#">Add to Friend List	</a>
    <a href="#">Block Member</a>
  </div>
  <%- include('dropdown', {userid:"'"+lookedatuser+"'"}); %>
    	
</div>
