<div class ="userdropdown" href="/profile/{{<%-userid%>}}" ng-init="AccountService.downloadAccount(<%- userid %>)" target="_blank" ng-controller="AccountController">
<b class="redtext">{{AccountService.getField(<%- userid %>,'FideTitle')}}</b>
 {{AccountService.getField(<%- userid %>,'name')}}
<%- include('dropdown', {userid:userid}); %>
</div>
