
<html>
  <head>
     <%- include partials/title.ejs %>
     <%- include partials/description.ejs %> 
   <%- include partials/keywords.ejs %> 
     <!-- Viewport mobile tag for sensible mobile support -->
   <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <!--STYLES-->
        <link rel="stylesheet" href="/styles/angular-toastr.css">
        <link rel="stylesheet" href="/styles/bootstrap.3.1.1.css">
        <link rel="stylesheet" href="/styles/chessboard-0.3.0.min.css">
        <link rel="stylesheet" href="/styles/importer.css">
        <!--STYLES END-->
        <!--SCRIPTS-->
        <script src="/js/dependencies/sails.io.js"></script>
        <script src="/js/dependencies/angular.1.3.js"></script>
        <script src="/js/dependencies/jquery-1.10.1.min.js"></script>
        <script src="/js/dependencies/chessboard-0.3.0.min.js"></script>
        <script src="/js/dependencies/chess.min.js"></script>
        <script src="/js/dependencies/stockfish.js"></script>
        <script src="/js/dependencies/angular-toastr.js"></script>
        <script src="/js/dependencies/bootstrap.min.js"></script>
        <script src="/js/dependencies/compareTo.module.js"></script>
        <script src="/js/dependencies/enginegame.js"></script>
        <script src="/js/HomepageModule.js"></script>
        <script src="/js/HomepageController.js"></script>
        <script src="/js/RegisterController.js"></script>
        <script src="/js/SinglePlayerController.js"></script>
        <script src="/js/TwoPlayerController.js"></script>
        <!--SCRIPTS END-->
    </head>
    
    <body ng-app="HomepageModule" ng-controller="ForgotController" ngcloak>
      <% var Myid='0'%>
    <% if (req.session.passport) { %>
			<% if (req.session.passport.user) { %>
			<% Myid=req.session.passport.user;%>
			<% } %>
	<% } %>

    
 <%- include('partials/navbar',{userid:Myid,Myid:Myid}); %>
 
		<div class="jumbotron ">
		
	     <div class="row">
	     <div class="col-md-4">
			 </div>
         <div class="col-md-4 text-center">
	    <h1 >Chessbond</h1>
    

			 </div>
    
         <div class="col-md-4">
			 </div>
			 </div>
        
    
		 <div class="row">
        <div class="text-center col-md-12">
		<h2>Forgot Password</h2>
		</div>
        
        <div class="text-center col-md-12">
		<h3>Enter your new password for the account:</h3>	 
        </div>
        
        <div class="text-center  col-md-4">
		</div>
        <div class="text-center  col-md-4">
		 <form name="form" ng-submit="NewPassword('<%- req.param('code')  %>')" role="form">
		  <input type="text" name="address" id="address" class="form-control" ng-model="vm.password" required />
            <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">Go</button>
        </div>
	
	    <div class="text-center  col-md-4">
	
			</div>
	      </div>
         <div class="col-md-4">
			 </div>
			 <hr>
			

    

    </body>
   </html>
