<!doctype html>
<html>
   <head>
      <title>Chessbond</title>
      <!-- Viewport mobile tag for sensible mobile support -->
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      <!--STYLES-->
      <link rel="stylesheet" href="/styles/angular-toastr.css">
      <link rel="stylesheet" href="/styles/bootstrap.3.1.1.css">
      <link rel="stylesheet" href="/styles/chessboard-0.3.0.min.css">
      <link rel="stylesheet" href="/styles/importer.css">
      <!--STYLES END-->
      <!--SCRIPTS-->
      <script src="/js/dependencies/sails.io.js"></script>
      <script src="/js/dependencies/angular.1.3.js"></script>
      <script src="/js/dependencies/jquery-1.10.1.min.js"></script>
      <script src="/js/dependencies/chessboard-0.3.0.min.js"></script>
      <script src="/js/dependencies/chess.min.js"></script>
      <script src="/js/dependencies/stockfish.js"></script>
      <script src="/js/dependencies/angular-toastr.js"></script>
      <script src="/js/dependencies/bootstrap.min.js"></script>
      <script src="/js/dependencies/compareTo.module.js"></script>
      <script src="/js/dependencies/enginegame.js"></script>
      <script src="/js/HomepageModule.js"></script>
      <script src="/js/HomepageController.js"></script>
      <script src="/js/RegisterController.js"></script>
      <script src="/js/SinglePlayerController.js"></script>
      <script src="/js/TwoPlayerController.js"></script>
      <!--SCRIPTS END-->
   </head>
   <body ng-app="HomepageModule" ng-controller="TwoPlayerController" ng-mousemove="changeFavicon('http://www.chessbond.com/favicon.ico')" ng-focus="PlayBell()" ng-cloak>
      
      <%- include partials/navbar.ejs %>
     <!-- <p>Game Id is   <%-req.param('GameID')%></p>-->
      <script> var GameID='<%- req.param('GameID') %>'</script>
      <% if (!req.session.passport){ %>
      <div ng-init="Guest()"></div>
      <% } %>
     <% if (req.session.passport){ %>
	<% if (req.session.passport.user){ %>
       	<div ng-init="SoleConnectorFunction('<%- req.session.passport.user %>')"></div>

        
       <%}%>
       <%}%>
     <% if (req.session.passport){ %>
	<% if (req.session.passport.user){ %>
      <button class="btn btn-success" ng-click="ShowOptions=!ShowOptions">Show Options</button>
      <table ng-hide="ShowOptions">
         <tr>
            <td>
               <span class="label label-default">Chesspiece Theme</span>
               <select class="form-control"
                  ng-model="User.ChessPieceTheme"
                  name="string"
                  multiple="string"
                  required="string"
                  ng-required="string"
                  ng-change="PrefSelectChanged('ChessPieceTheme','<%-req.session.passport.user%>',resetBoard)"
                  >
                  <option ng-repeat="theme in piecethemes" value="{{theme}}">
                     {{theme}}
                  </option>
               </select>
            </td>
            
                 <td>
               <span class="label label-default">Board Theme</span>
               <select class="form-control"
                  ng-model="User.BoardTheme"
                  name="string"
                  multiple="string"
                  required="string"
                  ng-required="string"
                  ng-change="PrefSelectChanged('BoardTheme','<%-req.session.passport.user%>',colorBoard)"
                  >
                  <option ng-repeat="theme in boardthemes" value="{{theme}}">
                     {{theme}}
                  </option>
               </select>
            </td>
            
            <td>
               <button ng-click="PrefToggleButtonClicked('SoundEnabled','<%-req.session.passport.user%>','Sound Enabled','Sound Disabled')" class="btn btn-success">{{User.SoundEnabled}}</button>
            </td>
            <td>
               <span class="label label-default">Board Size</span>
               <select name="repeatSelect" class="form-control" id="repeatSelect" ng-model="User.BoardSize"   ng-change="PrefSelectChanged('BoardSize','<%-req.session.passport.user%>', resizeBoard)"
                  >
                  <option ng-repeat="option in boardsizes" value="{{option.value}}">{{option.name}}</option>
               </select>
            </td>
               <td>
               <span class="label label-default">Board Orientation</span>
               <select name="repeatSelect" class="form-control" id="repeatSelect" ng-model="User.BoardOrientation"   ng-change="PrefSelectChanged('BoardOrientation','<%-req.session.passport.user%>', reorientBoard)"
                  >
                  <option ng-repeat="option in boardorientations" value="{{option.value}}">{{option.name}}</option>
               </select>
            </td>
         </tr>
      </table>
      <%}%>
      <%}%>
	
	<div id="overallcontainer" class="col-md-12">
			
			<div  id="boardcontainercontainer" class="col-md-6">
			
						
				<span style="position:relative;left-padding:0%" id="eyecontainer">
				<img style="position:relative;" src='/images/eye2.png'>
				<img style="position:absolute;left:{{pic1coordx}}%;top:{{pic1coordy}}%;"ng-mouseleave="smallimage1()" ng-mouseenter="bigimage1()" height = '{{pic1height}}px' src='{{TopPlayerPic}}'>
			
				
  
				</span>
				<span id="namecontainer" >
				<span class="label label-success" >{{TopPlayerName}}</span>
				</span>
				
				<span id="ELOcontainer" >
				({{TopPlayerELO}})
				</span>
				
				<span id="flagcontainer"  >
				<img ng-src="{{TopPlayerFlag}}">
				</span>
				<span id="pingcontainer" >
				<span ng-init="DoPingInterval()">Ping {{PingDisplay}}</span>
				</span>
				<span id="timercontainer">
				<span ng_show ="TopMinutes>0" span class="h3" id="time1">{{TopMinutes}}:{{TopSeconds}}:{{TopMilliseconds}}</span>
				<span ng_show ="TopMinutes==0" span class="h3" id="time1" style="color:#DD0000">{{TopMinutes}}:{{TopSeconds}}:{{TopMilliseconds}}</span>
				</span>
				
				<div class="row">
				
	    		 <div ng-show="SoleConnectorVariable=='true'"  id ="boardcontainer" ng-class="boardcontainerstyle" ></div>
     
				
				</div>
				
				<span style="position:relative;left-padding:0%" id="eyecontainer">
				<img style="position:relative;" src='/images/eye.png'>
				<img style="position:absolute;left:{{pic2coordx}}%;top:{{pic2coordy}}%;"ng-mouseleave="smallimage2()" ng-mouseenter="bigimage2()" height = '{{pic2height}}px' src='{{BottomPlayerPic}}'>
				</span>
				<span id="namecontainer">
				<span class="label label-success" >{{BottomPlayerName}}</span>
				</span>
				<span id="ELOcontainer" >
				({{BottomPlayerELO}})
				</span>
				<span id="flagcontainer">
				<img ng-src="{{BottomPlayerFlag}}">
				</span>
				<span id="pingcontainer">
				<span ng-init="DoPingInterval()">Ping {{PingDisplay}}</span>
				</span>
				<span id="timercontainer" >
				<span ng_show ="BottomMinutes>0" span class="h3" id="time1">{{BottomMinutes}}:{{BottomSeconds}}:{{BottomMilliseconds}}</span>
				<span ng_show ="BottomMinutes==0" span class="h3" id="time1" style="color:#DD0000">{{BottomMinutes}}:{{BottomSeconds}}:{{BottomMilliseconds}}</span>
				</span>
				
			</div>
			
			<div id="infocontainer" style="padding-left: 4px;" class="col-md-6">
		  <button class="btn btn-success" ng-click="ShowOptions=!ShowOptions">Offer a Draw</button>
      
		 <div class="label label-default col-md-12" ng-hide="(ChessGameObject.Result)">Result:*,in progress</div>
         <div class="label label-default col-md-12" ng-show="(ChessGameObject.Result)">Result:</div>
		 <div  class="col-md-12" ng-show="(ChessGameObject.Result)" ng-bind-html="ChessGameObject.Result"></div>
         <div class="col-md-12 label label-default" ng-bind-html="ChessGameObject.TurnTakerSentence" ng-model="TurnTaker"></div>
        
            <% if (req.session.passport){ %>
			<% if (req.session.passport.user){ %>
			<div class="col-md-12 label label-default">Chat</div>
			<div class="col-md-12" id="chatdiv" style="overflow-y: scroll;max-height:40vh;">
               <table>
                  <tr ng-repeat="chatmsg in chatting track by $index">
                     <!-- <td >{{chatmsg.content}}</td>-->
                     <td ng-bind-html="chatmsg.content"></td>
                  </tr>
               </table>
            </div>
            <div class="col-md-12">
            <form ng-submit="chatMessage('<%- req.session.passport.user %>')">
               <input type="text" autocomplete="off" class="form-control" placeholder="chat message" name="name" ng-model="chatInput"  required>
               <button type="submit" >chat</button>
            </form>
			</div>
         <%}%>
       <%}%>
        
        <div id="movelist" class="col-md-12 list-group">
            <div  ng-repeat="mov in Moves track by $index">
               <span ng-show="!$last">{{mov}}</span>	
               <b style="background-color:cornflowerblue" id="lastpgn" ng-show="$last">{{mov}}</b>	
            </div>
         </div>
        
        </div>
		
	
	</div>
 
   </body>
</html>