
<html>
  <head>
     <%- include partials/title.ejs %>
     <%- include partials/description.ejs %> 
   <%- include partials/keywords.ejs %> 
     <!-- Viewport mobile tag for sensible mobile support -->
   <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <!--STYLES-->
        <link rel="stylesheet" href="/styles/angular-toastr.css">
        <link rel="stylesheet" href="/styles/bootstrap.3.1.1.css">
        <link rel="stylesheet" href="/styles/chessboard-0.3.0.min.css">
        <link rel="stylesheet" href="/styles/importer.css">
        <!--STYLES END-->
     
    </head>
    
    <body >

    <div id="navbar"></div>
        <div id="opentournamentpage"></div>
        <div id="chatinput"></div>
        <% if (req.session.passport) { %>
			<% if (req.session.passport.user) { %>
			<script>var MyID='<%- req.session.passport.user %>'</script>
			<% }else{ %>
			<script>var MyID=''</script>
	
			<%}%>
			<% }else{ %>
			<script>var MyID=''</script>
			<%}%>
			
			<div style="text-align:center;color:red;">
			<h1>
			Chessbond.com   Open  Online   Chess  League
			</h1>
			</div>
			<h3>
			<div style="text-align:center;color:orange;">
			Tournament Version:  2017-18-1.0
			</div>
			</h3>
			<div style="text-align:center;color:blue;">
						Objects of this Campaign:
Develope the interest over Chess  games in Uganda, Bringing more awareness about the game.
Support and Encourage the Ugandan Players playing Chess games on regular basis to attain about  20 to 25 more  titled players  by the year 2025.
Focussing the target of  one  million Ugandan Chess players  actively  playing chess games at the regular interval  either online (or) offline.
</div>
<h2>
<div style="border:1px;text-align:middle">
		Start Date :    On   July  1st  2017
End Date   :    On  June 30th 2018
Duration   :    Year long, Online Chess tournament
Eligibility  :   Open to all nationalities to play online, fairly</div></h2>	
			<%- include partials/footer.ejs %>
			   <!--SCRIPTS-->
        <script src="/js/dependencies/sails.io.js"></script>
        <script src="/js/dependencies/angular.1.3.js"></script>
        <script src="/js/dependencies/jquery-1.10.1.min.js"></script>
        <script src="/js/dependencies/chessboard-0.3.0.min.js"></script>
        <script src="/js/dependencies/chess.min.js"></script>
        <script src="/js/dependencies/stockfish.js"></script>
        <script src="/js/dependencies/angular-toastr.js"></script>
        <script src="/js/dependencies/bootstrap.min.js"></script>
        <script src="/js/dependencies/compareTo.module.js"></script>
        <script src="/js/dependencies/enginegame.js"></script>
        <script src="/js/HomepageModule.js"></script>
        <script src="/js/HomepageController.js"></script>
        <script src="/js/RegisterController.js"></script>
        <script src="/js/SinglePlayerController.js"></script>
        <script src="/js/TwoPlayerController.js"></script>
        <!--SCRIPTS END-->
    </body>
   </html>
