<!DOCTYPE html>
<html>
  <head>
    <title>Chessbond</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!--STYLES-->
    
    <!--STYLES END-->

    <!--Added this so the client has access to the csrf tag and it's grabbed first service side on every page -->


  </head>

  <body ng-app="HomepageModule" ng-controller="ProfileController"  style="display:none" id="mainContainer">
	    <% if (req.session.passport){ %>
			<% if (req.session.passport.user){ %>
			<div ng-init="getuser('<%-req.session.passport.user %>')"></div>
			<div ng-init="GetBlockedUsers('<%-req.session.passport.user %>')"></div>
						
           <% } %>
           <% } %>
	<div ng-init="CollectProfilePics()"></div>
				<% if (req.param('userID')) { %>
	
				<div ng-init="getLookedatUser('<%-req.param('userID')%>')"></div>
				    <% if (req.session.passport){ %>
						
						<% if (req.session.passport.user){ %>
						
							<div ng-init="GetInfo('<%-req.session.passport.user %>','<%-req.param('userID')%>',1)"></div>
						
						<% }else{ %>
								<div ng-init="GetInfo(0,'<%-req.param('userID')%>',2)"></div>
						<% } %>
					
						
						<% }else{ %>
								<div ng-init="GetInfo(0,'<%-req.param('userID')%>',3)"></div>
						<% } %>
					
				<% }else{ %>
				    <% if (req.session.passport){ %>
						<% if (req.session.passport.user){ %>
						<div ng-init="getLookedatUser('<%-req.session.passport.user %>')"></div>
						<div ng-init="GetInfo('<%-req.session.passport.user %>','<%-req.session.passport.user %>',4)"></div>
						
						<% } %>
					<% } %>
				<% } %>

   <%- include partials/navbar.ejs %>
 <div style="display:flex"> 
   
    <span   class="jumbotron">
        <h1><b>{{LookedatUser.name}}</b></h1>
       <img ng-show="PersonOnlinefunc(LookedatUser.id)" src="{{LookedatUser.picture}}"></img>
      <% if (req.param('userID')) { %>
       <div ng-init="CollectDetailsForPicture('<%-req.param('userID')%>')">
      <% }else{ %>
		  <div ng-init="CollectDetailsForPicture('<%-req.session.passport.user %>')">
		  <% } %>
       {{ProfilePics[LookedatUser.id]}}
       </div>
         <% if (req.param('userID') || req.session.passport) { %>
			
          <h2>Highest Difficulty Level Beaten:{{LookedatUser.DifficultyLevelBeaten}}</h2>
            <h2>ELO rating score:{{LookedatUser.ELO}}</h2>
         
           <% } %>
            <a href="/playvsai" class="btn btn-lg btn-success">Play Chess against the AI!</a>
	<br>
	<button type="button" class="btn btn-info btn-lg">Statistics</button>
	 </span>
	 <span>
    <table class="table table-striped">
              
			<thead>
                <tr>
	              <th></th>
                  <th></th>
                  </tr>
              </thead>
           <tbody>
				<tr>
					<td>
					Profile Views:
					</td>
					<td>
					{{LookedatUser.ProfileViews}}
					</td>
				</tr>
				<tr>
					<td>
					Registered member on:
					</td>
					<td>
						{{LookedatUser.Registeredmemberon}}
					</td>
				</tr>
				<tr>
					<td>
					Last login:
					</td>
					<td>
					{{LookedatUser.Lastlogin}}
					</td>
				</tr>
				<tr>
					<td>
					Number of times logged in:
					</td>
					<td>
					{{LookedatUser.Numberoftimesloggedin}}
					</td>
				</tr>
				<tr>
					<td>
					Gender:
					</td>
					<td>
					{{LookedatUser.Gender}}
					</td>
				</tr>
				<tr>
					<td>
					Date of birth:
					</td>
					<td>
					{{LookedatUser.Dateofbirth}}
					</td>
				</tr>
				<tr>
					<td>
					Current City:
					</td>
					<td>
					{{LookedatUser.CurrentCity}}
					</td>
				</tr>
				<tr>
					<td>
					Fide Title:
					</td>
					<td>
					{{LookedatUser.FideTitle}}
					</td>
				</tr>
				<tr>
					<td>
					Valid Fide ID:
					</td>
					<td>
					{{LookedatUser.FideID}}
					</td>
				</tr>
				<tr>
					<td>
					Fide Ratings:
					</td>
					<td>
					{{LookedatUser.FideRatings}}
					</td>
				</tr>
			</tbody>
	</table>
  </span>
  </div>
  <div style="display:flex"> 
		<% if (req.session.passport){ %>
			<% if (req.session.passport.user){ %>
				
					<% if (req.session.passport.user==req.param('userID') || !req.param('userID')){ %>
   
					 <select ng-show="User" class="form-control" name="mySelect" id="mySelect"
					  ng-model="User.Country"
					  ng-change="PrefSelectChanged('Country','<%-req.session.passport.user%>',null)"
					  >
					  <option ng-repeat="c in countries track by $index" value="{{c.name}}">
						  {{c.name}}</option>
					 </select>
				<% } %>
			<% } %>
		<% } %>
	

		
		
	 <% if (req.param('userID') || req.session.passport) { %>
    <%- include partials/flag1.ejs %>
	<% } %>
	
	
	</div>
	<%var dograph=false;%>
	 <% if (req.param('userID')) { %>
	<% dograph=true;%>
	<%}%>
	<% if (req.session.passport) { %>
	<% if (req.session.passport.user) { %>
	
	<% dograph=true;%>
	<%}%>
	<%}%>
	
	<% if (dograph==true){%>
		
	
	
	 <div style="display:flex"> 
		 <span>
	 <h2 class="sub-header">Recent Games</h2>
          <div   class="table-responsive">
            <table class="table table-striped">
              
		
			<thead>
                <tr>
	              <th>White</th>
                  <th>Black</th>
                  <th>Result</th>
                  <th>Time</th>
                  <th>Moves</th>
                  <th>Date</th>
                  <th>Action</th>
				<!--HEADERS OF TABLE-->
                </tr>
           </thead>
           <tbody>
				  
            <tr ng-repeat="game in GameInfo track by $index">
			<td><img src="{{game.WhiteAvatar}}"></img><a href="/profile/{{game.WhitePlayerID}}" target="_blank">{{game.WhitePlayerName}}</a>({{game.WhiteELO}})</td>
			<td><img src="{{game.BlackAvatar}}"><a href="/profile/{{game.BlackPlayerID}}" target="_blank">{{game.BlackPlayerName}}</a>({{game.BlackELO}})</td>
			<td>{{game.res}}</td>
			<td>{{game.timelimit}}|0</td>
			<td>{{game.moves}}</td>
			<td>{{game.date}}</td>
			<td><a href="/humanvshuman/{{game.id}}" target="_blank">Link</a></td>
			
			
			<tr>
			</tr>
            </tbody>
            </table>
            	<div class="btn btn-lg btn-success" ng-show="chessgameskip>0" ng-click="GetOlderChessGames(LookedatUser.id)"><</div>
				<div class="btn btn-lg btn-success" ng-click="GetMoreChessGames(LookedatUser.id)">></div>

          </div>
          </span>
    <% } %>
	<span>
		<h2>Who am I?</h2>
		<h2>My Wall</h2>
	<% if (req.session.passport) { %>
	<% if (req.session.passport.user) { %>
	<form ng-submit="SendWallPost('<%- req.session.passport.user %>')">
	<input type="text" autocomplete="off" class="form-control" placeholder="post to wall" name="name" ng-model="WallPostInput"  required>
	<button class="btn btn-default btn-sm" type="submit" >Post to Wall</button>
	
	</form>
	<% } %>
	<% } %>
	<table>
   <tr ng-repeat="wllpsts in WallPosts track by $index">
	
	<td >
		
		<div style="display:flex">
		<span ng-show="PersonOnline[wllpsts.sender]" ng-init="CheckPersonOnline(wllpsts.sender)"><img src="{{wllpsts.senderpic}}"></span>
		<span> <span ng-show="!BlockedUsers[wllpsts.sender]">{{wllpsts.content}}</span>
		<br>by <a href="/profile/{{wllpsts.sender}}" target="_blank">{{wllpsts.sendername}}</a> {{wllpsts.Age}}
		</span>
	<% if (req.session.passport) { %>
	<% if (req.session.passport.user) { %>
		<div><button type="submit" style='height:50%' class="btn btn-default btn-sm" ng-show="!ShowReply[$index]" ng-click="ShowReply[$index]=!ShowReply[$index]">Reply</button></div>
		<div><button type="submit" ng-show="User.id==LookedatUser.id" ng-click="DeleteWallPost(wllpsts.id)" class="btn btn-default btn-sm">Delete</button></div>
		<div><button type="submit" ng-show="!BlockedUsers[wllpsts.sender]" ng-click="BlockUser('<%- req.session.passport.user %>',wllpsts.sender)" class="btn btn-default btn-sm">Block User</button></div>
		<div><button type="submit" ng-show="BlockedUsers[wllpsts.sender]" ng-click="UnBlockUser('<%- req.session.passport.user %>',wllpsts.sender)" class="btn btn-default btn-sm">UnBlock User</button></div>
		
		
		<div ng-show="ShowReply[$index]">
	

		<input type="text" autocomplete="off" class="form-control" placeholder="reply" name="name" ng-model="WallPostReplyInput[$index]"  required>
		<button type="submit" ng-click="SendWallPostReply(wllpsts.sender,'<%- req.session.passport.user %>',WallPostReplyInput[$index],wllpsts.id)" class="btn btn-warning btn-sm">Reply</button>
		</div>
		<% } %>
	<% } %>
	</div>
	
	
		
		<table>
			<tr>
				<td ng-show="wllpsts.Replies[0]">
					Replies:
				</td>
			</tr>
		<tr ng-repeat="rply in wllpsts.Replies track by $index">
			<td>
				</td>
				<td>
			<div style="display:flex">
		<span><img src="{{rply.senderpic}}"></span>
		<span><span ng-show="!BlockedUsers[rply.sender]">{{rply.content}}</span>
		<br>by <a href="/profile/{{rply.sender}}" target="_blank">{{rply.sendername}}</a> {{rply.Age}}
		</span>
		</div>
		</td>
			</tr>
		</table>
	
	<hr>
		
	</td>
	
	
	
	</tr>
	</table>
		<div class="btn btn-lg btn-success" ng-show="wallpostskip>0" ng-click="GetOlderWallPosts(LookedatUser.id)"><</div>
<div class="btn btn-lg btn-success" ng-click="GetMoreWallPosts(LookedatUser.id)">></div>

	
</span>
</div>
    <!--SCRIPTS-->

    <!--SCRIPTS END-->
  </body>
</html>
