<!DOCTYPE html>
<html>
  <head>
    <title>Chessbond</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!--STYLES-->
    
    <!--STYLES END-->

    <!--Added this so the client has access to the csrf tag and it's grabbed first service side on every page -->


  </head>

  <body ng-app="HomepageModule" ng-controller="ProfileController" ng-cloak>
	    <% if (req.session.passport){ %>
			<% if (req.session.passport.user){ %>
			<div ng-init="getuser('<%-req.session.passport.user %>')"></div>
           <% } %>
           <% } %>

         <% if (req.param('userID')) { %>
	
	<div ng-init="getLookedatUser('<%-req.param('userID')%>')"></div>
 <div ng-init="GetInfo('<%-req.param('userID')%>')"></div>
           <% } %>

   <%- include partials/navbar.ejs %>
    <div class=" col-md-8 col-md-offset-2">
    <div   class="jumbotron">
        <h1>Profile</h1>
         <% if (req.param('userID')) { %>
			
          <h2>Highest Difficulty Level Beaten:{{LookedatUser.DifficultyLevelBeaten}}</h2>
            <h2>ELO rating score:{{LookedatUser.ELO}}</h2>
         
           <% } %>
            <a href="/playvsai" class="btn btn-lg btn-success">Play Chess against the AI!</a>
	
	 </div>
    </div>
    
   <div  id="row">
    <div class="col-md-4">
		</div>
    <div class="col-md-4">
	<% if (req.param('userID')) { %>
    	
	    <% if (req.session.passport){ %>
			<% if (req.session.passport.user){ %>
   		<% if (req.session.passport.user==req.param('userID')){ %>
   
	 <select ng-show="User" class="form-control" name="mySelect" id="mySelect"
      ng-model="User.Country"
      ng-change="PrefSelectChanged('Country','<%-req.session.passport.user%>',null)"
      >
      <option ng-repeat="c in countries track by $index" value="{{c.name}}">
		  {{c.name}}</option>
					
				</select>
	  <% } %>
	  <% } %>
      <% } %>
	  <% } %>
	
	</div>
		
		 <div class="col-md-4">
	 <% if (req.param('userID')) { %>
    
	<img src="/images/flags/{{countryTofilename(LookedatUser.Country)}}.png">
	<% } %>
	</div>
	
	 <% if (req.param('userID')) { %>
	
	<div class="col-md-4">
	 </div>
	<div id="row" class="col-md-12">
	 <h2 class="sub-header">Recent Games</h2>
          <div id="row"  class="table-responsive">
            <table class="table table-striped">
              
		
			<thead>
                <tr>
	              <th>Player1</th>
                  <th>Player2</th>
                  
				<!--HEADERS OF TABLE-->
                </tr>
           </thead>
           <tbody>
				  
            <tr ng-repeat="game in MyGames track by $index">
			<td>{{game.Player1Name}}</td>
			<td>{{game.Player2Name}}</td>
			
			<td>
				<button ng-click="PlayGame(game.id,game.Player2)" class="btn btn-lg btn-success" >Play Game</a>
				<button ng-click="deletegame(game.id,'<%-  req.session.passport.user %>')">Delete Game</button>
			</td>
			<td>
				Date:{{getdate(game.createdAt)}}
			<tr>
			</tr>
            </tbody>
            </table>
          </div>
          </div>
    <% } %>
	      
	



    <!--SCRIPTS-->

    <!--SCRIPTS END-->
  </body>
</html>
