<!DOCTYPE html>
<html>
  <head>
    <title>Chessbond</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!--STYLES-->
    
    <!--STYLES END-->

    <!--Added this so the client has access to the csrf tag and it's grabbed first service side on every page -->


  </head>

  <body ng-app="HomepageModule" ng-controller="ProfileController" ng-cloak>
	    <% if (req.session.passport){ %>
			<% if (req.session.passport.user){ %>
			<div ng-init="getuser('<%-req.session.passport.user %>')"></div>
           <% } %>
           <% } %>

				<% if (req.param('userID')) { %>
	
				<div ng-init="getLookedatUser('<%-req.param('userID')%>')"></div>
				<div ng-init="GetInfo('<%-req.param('userID')%>')"></div>
				<% }else{ %>
				    <% if (req.session.passport){ %>
						<% if (req.session.passport.user){ %>
						<div ng-init="getLookedatUser('<%-req.session.passport.user %>')"></div>
						<div ng-init="GetInfo('<%-req.session.passport.user %>')"></div>
						<% } %>
					<% } %>
				<% } %>

   <%- include partials/navbar.ejs %>
    <div class="col-md-6 ">
    <div   class="jumbotron">
        <h1><b>{{LookedatUser.name}}</b></h1>
       <img src="{{LookedatUser.picture}}"></img>
         <% if (req.param('userID') || req.session.passport) { %>
			
          <h2>Highest Difficulty Level Beaten:{{LookedatUser.DifficultyLevelBeaten}}</h2>
            <h2>ELO rating score:{{LookedatUser.ELO}}</h2>
         
           <% } %>
            <a href="/playvsai" class="btn btn-lg btn-success">Play Chess against the AI!</a>
	
	 </div>
    </div>
    <div class=" col-md-6 ">
    <table class="table table-striped">
              
		
           <tbody>
				<tr>
					<td>
					Profile Views
					</td>
				</tr>
				<tr>
					<td>
					Registered member on:
					</td>
				</tr>
				<tr>
					<td>
					Last login:
					</td>
				</tr>
				<tr>
					<td>
					Number of times logged in:
					</td>
				</tr>
				<tr>
					<td>
					Gender
					</td>
				</tr>
				<tr>
					<td>
					Date of birth:
					</td>
				</tr>
				<tr>
					<td>
					Current City:
					</td>
				</tr>
				<tr>
					<td>
					Fide Title:
					</td>
				</tr>
				<tr>
					<td>
					Valid Fide ID:
					</td>
				</tr>
				<tr>
					<td>
					Fide Ratings:
					</td>
				</tr>
			</tbody>
	</table>
    </div>
  <div class="row"> 
    <div class="col">
		<% if (req.session.passport){ %>
			<% if (req.session.passport.user){ %>
				
					<% if (req.session.passport.user==req.param('userID') || !req.param('userID')){ %>
   
					 <select ng-show="User" class="form-control" name="mySelect" id="mySelect"
					  ng-model="User.Country"
					  ng-change="PrefSelectChanged('Country','<%-req.session.passport.user%>',null)"
					  >
					  <option ng-repeat="c in countries track by $index" value="{{c.name}}">
						  {{c.name}}</option>
					 </select>
				<% } %>
			<% } %>
		<% } %>
	
	</div>
		
		 <div class="col" >
	 <% if (req.param('userID') || req.session.passport) { %>
    <%- include partials/flag1.ejs %>
	<% } %>
	</div>
	</div>
	<%var dograph=false;%>
	 <% if (req.param('userID')) { %>
	<% dograph=true;%>
	<%}%>
	<% if (req.session.passport) { %>
	<% if (req.session.passport.user) { %>
	
	<% dograph=true;%>
	<%}%>
	<%}%>
	
	<% if (dograph==true){%>
		
	
	
	<div id="row" class="col-md-12">
	 <h2 class="sub-header">Recent Games</h2>
          <div id="row"  class="table-responsive">
            <table class="table table-striped">
              
		
			<thead>
                <tr>
	              <th>White</th>
                  <th>Black</th>
                  <th>Result</th>
                  <th>Time</th>
                  <th>Moves</th>
                  <th>Date</th>
                  <th>Action</th>
				<!--HEADERS OF TABLE-->
                </tr>
           </thead>
           <tbody>
				  
            <tr ng-repeat="game in GameInfo track by $index">
			<td><img src="{{game.WhiteAvatar}}"></img><a href="/profile/{{game.WhitePlayerID}}" target="_blank">{{game.WhitePlayerName}}</a>({{game.WhiteELO}})</td>
			<td><img src="{{game.BlackAvatar}}"><a href="/profile/{{game.BlackPlayerID}}" target="_blank">{{game.BlackPlayerName}}</a>({{game.BlackELO}})</td>
			<td>{{game.res}}</td>
			<td>{{game.timelimit}}|0</td>
			<td>{{game.moves}}</td>
			<td>{{game.date}}</td>
			<td><a href="/humanvshuman/{{game.id}}" target="_blank">Link</a></td>
			
			
			<tr>
			</tr>
            </tbody>
            </table>
          </div>
          
    <% } %>
	<div class="col-md-12">
	<table>
   <tr ng-repeat="wllpsts in WallPosts track by $index">
	<td><img src="{{wllpsts.senderpic}}"><a href="/profile/{{wllpsts.sender}}" target="_blank">{{wllpsts.sendername}}</a>{{wllpsts.content}}</td>
	</table>
	</div>
		<% if (req.session.passport) { %>
	<% if (req.session.passport.user) { %>
	<div class="col-md-12">
	<form ng-submit="SendWallPost('<%- req.session.passport.user %>')">
	<input type="text" autocomplete="off" class="form-control" placeholder="post to wall" name="name" ng-model="WallPostInput"  required>
	<button type="submit" >Post to Wall</button>
	</form>
	</div>
	<% } %>
	<% } %>


    <!--SCRIPTS-->

    <!--SCRIPTS END-->
  </body>
</html>
