<!doctype html>
<html>
  <head>
       <%- include partials/title.ejs %>
        <%- include partials/description.ejs %> 
   <%- include partials/keywords.ejs %> 
      <!-- Viewport mobile tag for sensible mobile support -->
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      <!--STYLES-->
      <link rel="stylesheet" href="/styles/angular-toastr.css">
      <link rel="stylesheet" href="/styles/bootstrap.3.1.1.css">
      <link rel="stylesheet" href="/styles/chessboard-0.3.0.min.css">
      <link rel="stylesheet" href="/styles/importer.css">
      <!--STYLES END-->
      <!--SCRIPTS-->
      <script src="/js/dependencies/sails.io.js"></script>
      <script src="/js/dependencies/angular.1.3.js"></script>
      <script src="/js/dependencies/jquery-1.10.1.min.js"></script>
      <script src="/js/dependencies/chessboard-0.3.0.min.js"></script>
      <script src="/js/dependencies/chess.min.js"></script>
      <script src="/js/dependencies/stockfish.js"></script>
      <script src="/js/dependencies/angular-toastr.js"></script>
      <script src="/js/dependencies/bootstrap.min.js"></script>
      <script src="/js/dependencies/compareTo.module.js"></script>
      <script src="/js/dependencies/enginegame.js"></script>
      <script src="/js/HomepageModule.js"></script>
      <script src="/js/HomepageController.js"></script>
      <script src="/js/RegisterController.js"></script>
      <script src="/js/SinglePlayerController.js"></script>
      <script src="/js/TwoPlayerController.js"></script>
      <!--SCRIPTS END-->
   </head>
     <body ng-app="HomepageModule" ng-controller="StatsController" ng-cloak>
   <%- include partials/navbar.ejs %>
   <h3>Statistics</h3>
		
		<% var lookedatuser; %>
	<% if (req.param('userID')){ %>
			<% lookedatuser=req.param('userID'); %>
		
		<% } %>
		
	  
	  <% if (req.session.passport){ %>
	  <% if (req.session.passport.user){ %>
	<% if (!req.param('userID')){ %>
		<% lookedatuser=  req.session.passport.user;%>
	  <% } %>
	 <div ng-init="getuser('<%-req.session.passport.user%>')"></div>
	  
      <% } %>
	<% } %>
	<div ng-init="getLookedatUser('<%-req.session.passport.user%>')"></div>
	     <div class="table-responsive">
            <table class="table table-striped">
              
		
			<thead>
                <tr>
	              <th>Category</th>
                  <th>Color</th>
                  <th>Current Ratings</th>
                  <th>Win%</th>
                  <th>Loss%</th>
                  <th>Draws%</th>
                  <th>Highest ratings scored</th>
                  <th>Lowest ratings scored</th>
                  <th>Average Oppositon Ratings</th>
                  <th>Best Win</th>
                  <th>Lowest Loss</th>
                  
                  <th>Total Games</th>
                  <th>Total Moves</th>
                  <th>Average Move/Game</th>
				<!--HEADERS OF TABLE-->
                </tr>
           </thead>
            <tbody ng-repeat="x in categories">
	    
           <tr ng-repeat="c in colors">
          <div ng-show="(LookedatUser['totalgames'+c.col+x.time+"|"+x.extratime])">
            
          <td >   
               <h5>{{x.time}}|{{x.extratime}}</h5>
           </td>
           <td>   
               <h5>{{c.col}}</h5>
           </td>
           <td ng-repeat="s in statcategories">   
                 <h5 ng-show="(LookedatUser['totalgames'+c.col+x.time+"|"+x.extratime])>0">{{LookedatUser[s.cat+c.col+x.time+"|"+x.extratime]}}</h5>
				
			</td>
           </tr>
            </div>
           </tbody>
           </table>
           </div>
		

	
	</body>
</html>
